files:
  "/etc/yum.repos.d/logentries.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [logentries]
      name=Logentries repo
      enabled=1
      metadata_expire=1d
      baseurl=http://rep.logentries.com/amazonlatest/\$basearch
      gpgkey=http://rep.logentries.com/RPM-GPG-KEY-logentries
commands:
  01update-yum:
    command: yum update -y -q
    ignoreErrors: true
